@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* popup */
.popup {
  /* 팝업창수정할거면 밑에 none해제하고 시작하셈 */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 200px;
  background-color: #f8f8f8;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 20px;
  z-index: 10;
}

.popup h1 {
  font: bold 27px/1 "arial";
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.popup p {
  font: 15px/1.5 "arial";
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.popup button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  /* 디자인이나 접근성점수가 감점될 수 있으니 
  a태그로 작성하는것이 좋습니다. */
  background-color: #333;
  padding: 5px 10px;
  color: #eee;
  cursor: pointer;
}

/* header */
header {
  width: 100%;
}

header .inner {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background-color: #eee;
  position: relative;
}

header .inner h1 {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

#gnb {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 10;
}

#gnb > li {
  float: left;
  position: relative;
  text-align: center;
}

#gnb > li > a {
  display: block;
  width: 150px;
  height: 60px;
  background-color: #eee;
  font: bold 20px/60px "arial";
  color: #333;
}

#gnb > li > a:hover {
  background-color: #333;
  color: #fff;
}

#gnb > li > a.on {
  background-color: #333;
  color: #fff;
}

.sub {
  position: absolute;
  top: 60px;
  left: 0;
  /* display: none; */
}

.sub > li > a {
  display: block;
  width: 150px;
  height: 40px;
  background-color: #555;
  font: 14px/40px "arial";
  color: #fff;
  text-align: center;
}

.sub > li > a:hover {
  color: orange;
  background-color: #333;
}
